* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  box-sizing: border-box;
}

body {
  margin: 0 auto 10px;
  padding-bottom: 10px;
  width: 60%;
  background-color: #4D148C;
}

#logo {
  width: 50%;
}

h1 {
  margin: 0 0 10px;
  padding-top: 10px;
  text-align: center;
  color: #FF6600;
}

#cal_container {
  margin: 0 auto;
  width: 95%;
}

h2 {
  margin: 10px 0 10px;
  text-align: center;
  color: #FF6600;
}

#s_status {
  color: red;
  font-size: 16px;
  font-style: normal;
}

img {
  margin: 0 auto;
  width: 95%;
  display: block;
}

@media only screen and (max-width: 1280px) {
  body {
    width: 99%;
  }
}
